<%explorers.forEach((explorer) => { %>
<div class="explorerDetailsLine">
  <span>name:&nbsp;<%=explorer.name%></span><span>,&nbsp;&nbsp;</span>
  <span>age:&nbsp;<%=explorer.age%></span>
</div>
<%})%>
